@import "index";

$container-padding: $padding;
$sun-size: 20rem;
$temperature-current-degree-color: $secondary-text-color;

html {
  font-size: 62.5%;
  font-family: Roboto-Light;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: Roboto-Bold;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  padding: $padding;
  margin: 0 auto;
  max-width: 1400px;
}

.container {
  background: rgb(66, 159, 228);
  background: radial-gradient(circle, rgba(66, 159, 228, 1) 0%, rgba(64, 147, 218, 1) 34%, rgba(0, 35, 86, 1) 100%);
  min-height: 100vh;
}

input {
  font-size: 1.8rem !important;
}

.temperature {
  display: flex;
  flex-direction: column-reverse;
  
  @include tablet-desktop {
    flex-direction: row-reverse;
  }

  &__degree {
    font-size: 5.6rem;
    color: $temperature-current-degree-color;
    @include font('light')
  }
}

.sun {
  margin: 2.4rem auto;
  width: $sun-size;
}
